@using Microsoft.AspNet.Identity
@using Práctica3GenNHibernate.EN.Práctica3;

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="nav navbar-right">
            <div>
                @Html.ActionLink("Mi Perfil", "Index", "Cliente", routeValues: null, htmlAttributes: new { @class = "nav-link" })
            </div>
            <div><a href="javascript:document.getElementById('logoutForm').submit()" class = "nav-link">Cerrar sesión</a></div>
        </div>
    }
}
else
{
    <div class="nav navbar-right">
        <div>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link", id = "registerLink" })</div>
        <div>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link", id = "loginLink" })</div>
    </div>
}
