@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --rosa_oscuro: #7c616c;
    --rosa: #D1B1CB;
    --rosa_claro: #DDCAD9;
}

.h2 {
    font-family: 'IBM Plex Sans', sans-serif;
}

/*Inputs*/
.input-field, .input-field-number {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid var(--rosa_oscuro);
    color: var(--rosa_oscuro)
}

input.form-control, input.form-control:focus {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    padding: 0px 2px;
    font-family: 'Poppins', sans-serif
}

.input-field-number {
    width: 70px;
}

/*_Layout*/
.body-content {
    margin-top: 3em;
}

nav {
    vertical-align: top;
    background: var(--rosa_oscuro);
}

div.nav > a {
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: transparent;
    padding: .5em 0;
    border: none;
    border-radius: .7em;
    margin-bottom: 2em;
}

div.nav > a:hover {
    color: white;
    background-color: var(--rosa_oscuro);
}

/*_LoginPartial*/
div.navbar-right > div > a {
    text-decoration: none;
    color: white;
    margin: 0 .5em;
}

div.navbar-right > div > a:hover {
    color: white;
    font-weight: bold;
}

/*Index*/
.dropdown > div {
    margin-top: 1em;
}

.index-container > div > div {
    margin-bottom: 5em;
}

p.genero {
    background-color: var(--rosa_oscuro);
}

p.recomendado {
    background-color: var(--rosa_claro);
    color: black;
}

/*Details*/
.details-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 3em;
}

.details-container > div:last-of-type {
    margin-left: 5em;
}

.comments-container > div {
    padding: 0 1.3em;
}

.comments-container > div:nth-child(even) {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.comments-container > div > h4, .comments-container > div > p:first-of-type {
    display: inline-block;
}

.valoracion {
    margin-left: .5em;
    color: gray;
}

textarea.form-control {
    resize: none;
    border: none;
}

/*Login y Register*/
body {
    background-color: #eee;
    height: 100vh;
    /*font-family: 'Poppins', sans-serif;*/
    background: linear-gradient(to top, #fff 10%, var(--rosa_claro) 90%) no-repeat
}

.wrapper {
    max-width: 500px;
    border-radius: 10px;
    margin: 50px auto;
    padding: 30px 40px;
    box-shadow: 20px 20px 80px var(--rosa);
}

.melody-records {
    font-family: 'Kaushan Script', cursive;
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--rosa_oscuro);
    font-style: italic
}

.h4 {
    font-family: 'Poppins', sans-serif
}

div > a {
    text-decoration: none;
    color: var(--rosa_oscuro);
    font-weight: 700
}

div > a:hover {
    color: var(--rosa);
}

.btn.btn-block {
    border-radius: 20px;
    background-color: var(--rosa_oscuro);
    color: white;
}

.btn.btn-block:hover {
    background-color: var(--rosa_claro);
}

@media(max-width: 575px) {
    .wrapper {
        margin: 10px
    }
}

@media(max-width:424px) {
    .wrapper {
        padding: 30px 10px;
        margin: 5px
    }

    #forgot {
        font-size: 0.95rem
    }
}

/*Mi Perfil*/
p.puntos {
    background-color: var(--rosa);
    color: black;
}




