@{
    ViewBag.Title = "Acerca de";
}
<h2 class="h2">¿Quiénes somos?</h2>

<div class="row">
    <div class="col">
            Somos una tienda online de productos musicales. Aquí podrás encontrar tanto discos, como CDs, DVDs, vinilos,
            merchandising y demás cosas de una gran variedad de artistas.
    </div>
</div>
