@{
    ViewBag.Title = "Contacto";
}
<h2 class="h2">@ViewBag.Title</h2>

<p>Universidad de Alicante</p>
<p>San Vicente del Raspeig, Alicante, España</p>

<hr />

<p><strong><i class="bi bi-telephone"></i></strong> 966 45 22 09</p>
<p><strong><i class="bi bi-envelope"></i></strong> melodyrecords@gmail.com</p>
<p><strong><i class="bi bi-instagram"></i></strong> melodyrecords_</p>
<p><strong><i class="bi bi-twitter"></i></strong> melody_records1</p>
